<script type="text/ng-template" id="chartModal">
 <div class="panel panel-primary">
 	<div class="modal-header panel-heading">
		<h3 class="modal-title">{{ chartInfo.title }}
		 	<button ng-click="hide()" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		 </h3>
  </div>
  <div class="modal-body">
		<chart-panel column-width="12" parameters = "{{ chartInfo.parameters }}" chart-renderer-method = "{{ chartInfo.chartRendererMethod }}" ></chart-panel>
  </div>
  <div class="modal-footer">

<!--
  		<div ng-repeat="comment in chartInfo.comments">
  			<p><strong>{{ comment.userid}} : </strong> {{ comment.comment}}</p>
  		</div>
-->
        <!-- view -->
  <timeline>
    <timeline-event ng-repeat="event in events" side="right">
      <timeline-badge class="{{event.badgeClass}}">
        <i class="glyphicon {{event.badgeIconClass}}"></i>
      </timeline-badge>
      <timeline-panel class="{{event.badgeClass}}">
        <timeline-heading>
          <h4>{{event.title}}</h4>
        </timeline-heading>
        <p>{{event.content}}</p>
      </timeline-panel>
    </timeline-event>
  </timeline>
  </div>
 </div>
  
</script>
