<script type="text/ng-template" id="chartModal">
 <div class="panel panel-primary">
 	<div class="modal-header panel-heading">
		<h3 class="modal-title">{{ chartInfo.title }}
		 	<button ng-click="hide()" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		 </h3>
  </div>
  <div class="modal-body">
		<chart-panel column-width="12" parameters = "{{ chartInfo.parameters }}" chart-renderer-method = "{{ chartInfo.chartRendererMethod }}" ></chart-panel>
  </div>
  <div class="modal-footer">
      <timeline>
        <timeline-event ng-repeat="comment in chartInfo.comments" side="">
          <timeline-badge class="{{comment.badgeClass}}">
            <i class="glyphicon {{comment.badgeIconClass}}"></i>
          </timeline-badge>
          <timeline-panel class="{{comment.badgeClass}}">
            <timeline-heading>
              <h4>{{comment.userid}}</h4>
              <p ng-if="comment.when">
                <small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{comment.when|date:"MM/dd/yyyy 'at' h:mma"}}</small>
              </p>
            </timeline-heading>
            <p>{{comment.comment}}</p>
          </timeline-panel>
        </timeline-event>
    </timeline>
  </div>
    <p>{{userComment}}</p>
   <div class="input-group">
    <input type="text" class="form-control" name="userComment" ng-model="userComment" rows="3" placeholder="Enter comment...">
    <span class="input-group-btn">
      <button class="btn btn-success" rows="3" type="button" ng-click="postComment()">Post comment&nbsp<span class="glyphicon glyphicon-send"></span></button>
    </span>
   </div>
 </div>
  
</script>
