<script type="text/ng-template" id="customWidth">
 <div class="panel panel-primary">
 	<div class="modal-header panel-heading">
		<h3 class="modal-title">Column Width
		 	<button ng-click="closeModal()" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		 </h3>
  </div>
  <div class="modal-body">

    <div class="input-group">
      <h4>Enter tab width between 1 - {{ widthConfig.columnWidth }}</h4>
      <input type="text" class="form-control" name="userData" ng-model="userData" placeholder="Enter tab width">

      <button class="btn btn-success" type="button" ng-click="setWidgetWidth(userData)">Save</button>
      <button class="btn btn-warning" type="button" ng-click="closeModal()">Close</button>
    </div>
  </div>
</script>
