  <script type="text/ng-template" id="shareModal">

    <div class="panel-primary">
      <div class="panel-heading">
      <h4 class = "modal-title" id = "shareModalLabel"> Share With Others </h4>
      <button ng-click="closeModal()" type="button" class="close" aria-label="Close" id ="ShareModalCloseBtn"><span aria-hidden="true">&times;</span></button></div>
    </div>

    <div class="modal-body" id="shareBody" ng-controller ="shareDashboardController" >

    <div class="input-group input-group-lg" id ="input-group">
     <span class="input-group-addon">
      <span class="glyphicon glyphicon-envelope"></span>
      </span>
      <tags-input ng-model="tags" id = "shareTag"
                  key-property="_id"
                  display-property="username"
                  on-tag-added="tagAdded($tag)"
                  addFromAutocompleteOnly=true
                  placeholder="User email"
                  replace-spaces-with-dashes="false">
           <auto-complete source="loadEmails($query)"
                       min-length="0"
                       load-on-focus="true"
                       load-on-empty="true"
                       max-results-to-show="5">
        </auto-complete>
      </tags-input>
    </div>

      <div class="access">
        <select ng-model="selectedItem" ng-options="c as (c.name) for c in containers" class="dropdown-height">
          <option value="">Access</option>
        </select>
        <div class="ui selection dropdown ">
          <input name="id" type="hidden" value="0"/>
          <div class="menu transition hidden">
            <div data-value="{{container.id}}" class="item" ng-repeat="container in containers"
            ng-click="select(container)">
            </div>
          </div>
        </div>
      </div>

      <div class="share-btn" id="sharebutton">
        <button class="btn btn-primary" ng-click="shareDashboard()">Done </button>
        <button class="btn btn-warning" ng-click="closeModal()">Close</button>
      </div>
    </div>
</script>
