<div class="modal-footer">
 
    <!--code for toggling the show comment option--->
  <h4 class="panel-title">
       <a data-toggle="collapse" data-target="#collapse1" ng-click="ShowHide()"><i class="glyphicon glyphicon-comment" ></i>
           <span ng-show = "IsVisible">Show Comments</span>
           <span ng-show = "IsNotVisible">Hide Comments</span>    
      </a>   
  </h4>
  <div id="collapse1" class="collapse in">
    <timeline>
      <timeline-event ng-repeat="comment in chartInfo.comments" side="">
        <timeline-badge class="displayImage">
        </timeline-badge>
        <timeline-panel class="{{comment.badgeClass}}">
          <timeline-heading>
            <h4>{{comment.userid | uppercase}}</h4>
            <p ng-if="comment.when">
              <small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{comment.when}}</small>
            </p>
          </timeline-heading>
			<p>	  <i class="glyphicon {{comment.badgeIconClass}} timeline-comment-{{comment.badgeClass}}"></i>&nbsp{{comment.comment}}</p>
        </timeline-panel>
      </timeline-event>
    </timeline>
  </div>
</div>
