<div class="modal-footer">
 
    <!--code for toggling the show comment option--->
  <h4 class="panel-title">
      <span ng-show="chartInfo.comments.length > 0">
       <a data-toggle="collapse" data-target="#collapse1" ng-click="ShowHide()"><i class="glyphicon glyphicon-comment commentDisplayToggle" ></i>
           <span class="commentDisplayToggle" ng-show = "IsVisible">Show Comments</span>
           <span class="commentDisplayToggle" ng-show = "IsNotVisible">Hide Comments</span>    
      </a>
      </span>
  </h4>
  <div id="collapse1" class="collapse in">
    <timeline>
      <timeline-event ng-repeat="comment in chartInfo.comments" side="">
        <timeline-badge ng-style="{{comment.commenterThumb}}">
<!--			{{commentThumbStyle}}-->
        </timeline-badge>
<!-- 		 timeline-comment-{{comment.badgeClass}}-->
        <timeline-panel ng-style="{{comment.badgeClass}}">
		<i ng-class="'glyphicon {{comment.badgeIconClass}} timeline-comment-{{comment.badgeClass}}'"  ng-class-odd="'pull-right'" ng-class-even="'pull-left'"></i>
          <timeline-heading>
            <h4>{{comment.userid | uppercase}}&nbsp;</h4>
            <p ng-if="comment.when">
              <small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{comment.when | date : 'medium'}}</small>
            </p>
          </timeline-heading>
			<p>{{comment.comment}}&nbsp;&nbsp;<i class="glyphicon glyphicon-trash timeline-ui-delete-btn text-muted" uib-tooltip="Delete"></i></p>
        </timeline-panel>
      </timeline-event>
    </timeline>
  </div>
</div>
