<div>
	<header-directive></header-directive>
	<div>
		<div ng-include="'views/dialogs/customWidgetWidth.tpl.html'"></div>
		<div ng-include="'views/dialogs/overwritePopup.tpl.html'"></div>
    <!-- *************************************************************** -->
		<div class="tabbable tabs-left" ng-controller="menuCtrl">
      <ul class="nav nav-tabs nav-customWidget-style">
         <li ng-class="getTabClass(1)" ng-click="setActiveTab(1)"><a href="studioWidget" data-toggle="tab">Studio Widget</a></li>
         <li ng-class="getTabClass(2)" ng-click="setActiveTab(2)"><a href="userWidget" data-toggle="tab">User Widget</a></li>
      </ul>
			<div class="tab-content">
        <div ng-class="getTabPaneClass(1)" id="studioWidget" ng-show="showTab(1)">
					<div class=" panel panel-body panel-width-style">
						<ul class="ul-widget-style">
							<li id="widget" ng-repeat="widget in widgetItems" ng-show="widget.widgetName"
												data-drag="true"
												data-jqyoui-options="{revert: 'invalid', appendTo: 'body', helper: 'clone'}"
												ng-model="widgetItems"
												jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: 'keep', onStart: 'startDrag(1)'}">
								<a>
									<div class="panel panel-info ">
										<div class="panel-heading">{{ widget.widgetName }}
										</div>
									</div>
								</a>
							</li>
						</ul>
					</div>
         </div>
        <div ng-class="getTabPaneClass(2)" id="userWidget" ng-show="showTab(2)">
					<div class=" panel panel-body panel-width-style">
					</div>
        </div>
			</div>
		</div>
	</div>
		<div class="container">
			<!-- placeholder comes here -->
			<button type="button" ng-click="addRow()" class="btn btn-primary row-btn pull-right">Add Row <span class="glyphicon glyphicon-plus"></span></button>
			<button type="button" ng-click="saveRow()" class="btn btn-primary row-btn pull-right">Save <span class="glyphicon glyphicon-floppy-save"></span></button>

			<div class="edit-row-container" ng-repeat="tab in tabs" >
				<div class = "row" ng-repeat="row in tab.rows" ng-init="rowIndex = $index">
					<div class = "col-sm-{{ col.colWidth }}" ng-repeat="col in row.columns" ng-init="colIndex = $index">

						<div class="panel panel-primary widget-holder" data-drop="true" data-drag="true" ng-model="col.widgetId"
																						jqyoui-droppable="{index:{{$index}}, multiple:false, beforeDrop: 'beforeDrop(col.widgetId)', onDrop: 'widthModal(rowIndex, colIndex, col.colWidth)'}"
																						jqyoui-draggable="{index:{{$index}}, animate:true, onStart: 'startDrag(2)'}"
																						data-jqyoui-options="{revert: 'invalid'}" data-direction="{{col.jqyouiDirection}}"	>
						<button class="pull-right" ng-click="removeWidget(rowIndex, colIndex,col.colWidth)" type="button"><span aria-hidden="true" class="glyphicon glyphicon-remove resize-icon"></span></button>
						<button  class="pull-right" ng-click="widthModal(0,0,rowIndex, colIndex, col.colWidth)" type="button"><span aria-hidden="true" class="glyphicon glyphicon-resize-horizontal resize-icon"></span></button>
							<div class="text-center">

								<button type="button" class="btn btn-primary edit-widget-style">{{isExists(col.widgetId.widgetName) && col.widgetId.widgetName || col.widgetId.title}} </button>
						</div>
			  	</div>
			 	</div>
			</div>

			<div class = "modal fade" id = "columnSizeModal" tabindex = "-1" role = "dialog" aria-labelledby = "myModalLabel" aria-hidden = "true">
				<div class = "modal-dialog">
			  	<div class = "modal-content">
			 			<div class = "modal-header">
							<button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true">&times;</button>
							<h4 class = "modal-title" id = "myModalLabel"> Share With Others </h4>
						</div>

	 					<div class="form-group">
		 					<label for="usr">People</label>
			 				<input type="text" class="form-control" id="usr" placeholder="Enter email-id">
						</div>

					 <div class="btn-group" uib-dropdown>
		 			 		<button id="btn-append-to-single-button" type="button" class="btn btn-primary" uib-dropdown-toggle>
			 					Access <span class="caret"></span></button>
							<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
								<li role="menu2"><a href="#"><span class="glyphicon glyphicon-comment"></span>Can Comment</a></li>
						 		<li role="menu3"><a href="#"><span class="glyphicon glyphicon-pencil"></span>Can Edit</a></li>
						 		<li role="menu4"><a href="#"><span class="glyphicon glyphicon-eye-open"></span>Can View</a></li>
							</ul>
					 </div>

			 		 <div class = "modal-footer">
				 	 		<button type = "button" class = "btn btn-default" data-dismiss = "modal">Close </button>
							<button type = "button" class = "btn btn-primary">Done </button>
			 		 </div>

					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->

		</div>
	</div>
</div>
