<!DOCTYPE html>
<html ng-app="vbiApp">
   <head>
      <!-- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"> -->
      <link rel="stylesheet" href='/bootstrap/css/bootstrap.min.css' charset="utf-8">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.4/angular-material.min.css" rel="stylesheet">
      <link rel="stylesheet" href="/stylesheets/bootstrap-glyphicons.css" charset="utf-8">
      <link rel="stylesheet" href="stylesheets/angular-timeline.css"/>
      <link rel="stylesheet" href="stylesheets/font-awesome.min.css"/>
      <link rel="stylesheet" type="text/css" href="stylesheets/submenu.css">
      <link rel="stylesheet" type="text/css" href="stylesheets/ng-tags-input.css">
      <link rel="stylesheet" href="/stylesheets/styles.css" charset="utf-8">
      <link href='https://fonts.googleapis.com/css?family=Raleway:700' rel='stylesheet' type='text/css'>
      

   </head>
   <body>
      <div ng-view>

	 	  </div>
      <script src="/javascript/lib/jquery.min.js" charset="utf-8"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
      <script src="/bootstrap/js/bootstrap.min.js" charset="utf-8"></script>
      <script src="/javascript/lib/d3.min.js" charset="utf-8"></script>
      <script src="/javascript/lib/angular.min.js" charset="utf-8"></script>
      <script src="/javascript/lib/ng-file-upload.min.js" charset="utf-8"></script>
      <script src="/javascript/lib/angular-route.min.js" charset="utf-8"></script>
      <script src="/javascript/lib/angular-dragdrop.js" charset="utf-8"></script>
      <script src="/javascript/lib/angular-cookies.min.js" charset="utf-8"></script>
      <script src="/javascript/lib/angular-animate.js"></script>
      <script src="/javascript/lib/ui-bootstrap-tpls.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.4/angular-material.js"></script>
      <script src="/javascript/lib/angular-aria.min.js"></script>
      <script src="/javascript/lib/angular-timeline.js"></script>
      <script src="/javascript/application.js"></script>
      <script src="/javascript/appRoutes.js"></script>
      <script src="/javascript/controllers/homeController.js"></script>
      <script src="/javascript/controllers/loginController.js"></script>
      <script src="/javascript/controllers/registerController.js"></script>
      <script src="/javascript/controllers/shareDashboardController.js"></script>
      <script src="/javascript/controllers/settingsController.js"></script>
      <script src="/javascript/controllers/chartModalController.js"></script>
      <script src="/javascript/controllers/modalGraphController.js"></script>
      <script src="/javascript/controllers/editController.js"></script>
      <script src="/javascript/controllers/titleController.js"></script>
      <script src="/javascript/controllers/widgetWidthController.js"></script>
      <script src="/javascript/controllers/widgetLibraryMenuController.js"></script>
      <script src="/javascript/services/userManager.js"></script>
      <script src="/javascript/services/widgetManager.js"></script>
      <script src="/javascript/services/registration.js"></script>
      <script src="/javascript/services/editManager.js"></script>
      <script src="/javascript/services/chartRenderer.js"></script>
      <script src="/javascript/services/graphservice.js"></script>
      <script src="/javascript/renderers/plotContinentChart.js"></script>
      <script src="/javascript/renderers/gdpPerCapitaBarChart.js"></script>
      <script src="/javascript/renderers/gdpStackedBarChart.js"></script>
      <script src="/javascript/renderers/plotNorthEast.js"></script>
      <script src="/javascript/renderers/executeQueryService.js"></script>
      <script src="/javascript/directives/headerDirectives.js"></script>
      <script src="/javascript/directives/chartPanelDirective.js"></script>
      <script src="/javascript/directives/graphDirectives.js"></script>
      <script src="/javascript/directives/confirmPassword.js"></script>
      <script src="/javascript/lib/ng-tags-input.js"></script>


   </body>
</html>
