/* Toggle Styles */

body{
	background-color:#f5f5f5;
	margin-top:50px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #f5f5f5;
}
.navbar-default {
    background-color: #fff;
    border-color: #e7e7e7;
}

.navbar-brand{
	margin: 0px 40px 0px 0px;
	font-size: 2.2em;
}

.tab-content{
	padding-top:5px;
}

.panel-footer{
	background-color: white;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 150px;
    width: 0;
    height: 100%;
    margin-left: -150px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 150px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}
.edit-widget-style{
	text-align: center;
}

/* Sidebar Styles */
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 150px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.widget-body {
    overflow-x: scroll;
}

.login-error {
   color: red;
   font-weight: bold;
}

.login-input {
   margin-top: 20px;
}

.glyph-title {
	padding: 0;
	color:white;
	cursor: pointer;
}


.glyph-right-space{
	margin-right: 5px;
}


.comment-slug a, a:visited{
	color:darkslategray;
	cursor: pointer;
}

.close{
	opacity:1;
	font-size:20px;
}



.login-form {
   margin-top: 50px;
   background: #f7f7f7;
   padding: 20px;
   box-shadow: rgba(0, 0, 0, 0.298039) 0px 2px 2px 0px;
}

.tab-content > .tab-pane {
  display: block;
  height: 0;
  overflow: hidden;

}
.tab-content > .active {
  display: block;
  height: auto;
}

.row-btn {
  margin: 5px 5px;
}

.row {
/*  margin: 0px;*/
}

/*.close {
	font-size: 30px;
	margin-right: 10px;
	color: white;
}*/
.row-style{
	margin-top:40px;
}

.hide-button{
	display: none;
	/*margin-left:10px;*/
}
/* CSS for grid */
table{
  margin: auto;
}
table,  th,  td{
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

 th, td{
  padding: 10px;
}

.section_result .level0 {
	background-color: #F7B05B;
}

.dataRow .level0{
/*	//#D3D3D3*/
	background-color: lightgrey;
}

.comment-icon{
	opacity: 20;
}

.btn-fadedbtn{
	color: #777;
}

/*css for comment toggle in modal*/
.commentDisplayToggle{
    font-size: 12px !important;
}

#widget-library {
	width: 300px;
	height: 100%;
	background:rgba(255,255,255,0.5);
	position: absolute;
	z-index: 10;
}

#widget-library ul {
	list-style-type: none;
}

#widget-library li {
	margin-left: -30px;
}

#widget-library ul, .edit-row-container {
	margin-top: 50px;
}

.widget-holder {
	height: 200px;
}

.modal-btn {
	margin-top: 20px;
}

/*widgets Library style*/

.panel-width-style{
	z-index: 1000;
	position: fixed;
	left: 105px;
	width: 0;
	/*height: 100%;*/
	/*margin-left: -150px;*/
	overflow-y: auto;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;

}
.ul-widget-style{
	padding-left: 0px;
	list-style-type: none;
}

.nav-customWidget-style{
	margin-top: 100px;
	position:fixed;
}

.panel-width-style{
	width: 200px;
}


.tabs-below>.nav-tabs,.tabs-right>.nav-tabs,.tabs-left>.nav-tabs{border-bottom:0;}

.tabs-left>.nav-tabs>li,.tabs-right>.nav-tabs>li{float:none;}
.tabs-left>.nav-tabs>li>a,.tabs-right>.nav-tabs>li>a{min-width:74px;margin-right:0;margin-bottom:3px;}
.tabs-left>.nav-tabs{float:left;margin-right:19px;border-right:1px solid #ddd;}
.tabs-left>.nav-tabs>li>a{margin-right:-1px;-webkit-border-radius:4px 0 0 4px;-moz-border-radius:4px 0 0 4px;border-radius:4px 0 0 4px;}
.tabs-left>.nav-tabs>li>a:hover,.tabs-left>.nav-tabs>li>a:focus{border-color:#eeeeee #dddddd #eeeeee #eeeeee;}
.tabs-left>.nav-tabs .active>a,.tabs-left>.nav-tabs .active>a:hover,.tabs-left>.nav-tabs .active>a:focus{border-color:#ddd transparent #ddd #ddd;*border-right-color:#ffffff;}

@media(min-width:768px) {
    #wrapper {
        padding-left: 150px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 150px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }



    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/* Share Modal  Styles*/

#input-group{
	width:380px;
}

.permission{
	position: absolute;
	right:10px;
  top:22px;
}

.dropdown-height{
	height:41px;
	left:25px;
	down:10px;
}


#sharebutton{
font-size: 11px;
margin-top: 85px;
}

#shareBody{
  width:600px;
}

.input-group-addon{
	height:32px;
}

#shareTag .tags{
	width: 380px;
	max-height: 70px;
	min-height: 42px;
	overflow-y: scroll;
}

#ShareModalCloseBtn{
	margin-top: -22px;
}

#dashbboard-alert{
	position: absolute;
	left:50%;
	color: #222;
	font-family: Roboto,sans-serif;
	font-size: 13px;
  -webkit-font-smoothing: antialiased;
}
