#chart rect{
  fill: #4aaeea;
}
#measure{
  height :600px;
  width :600px;
}
#head{
  text-align: center;
}
#chart text{
  fill: #000000;
  font: 10px sans-serif;
  text-anchor: end;
}
.heading{
  text-align: center;
}
.axis text{
  color: #000000;
  font: 10px sans-serif;
}

.axis path, .axis line{
  fill: none;
  stroke : #000000;
  shape-rendering: crispEdges;
}

body{
  /*//background: #1a1a1a;*/
  color : #000000;
  padding-top: 40px;
  padding-left: 270px;
}
