/*
Custom CSS
=============
*/
body{
  background-color:lightgrey;
}
.navbar{
   background-color: black;
}

#image{
  margin-top: -10px;
  border-radius: 15px;
}
.nav .open a{
  background-color: #B22222;
  color:white;
}
.dropdown-toggle{
   color: white;
}
.nav .open a, .nav .open a:hover, .nav .open a:focus{
  background-color:#B22222;
}
.tabSpaceCustom{
  margin-bottom: 15px !important;
}
#searchBox {
   width: 300px;
}

.wrap {
   margin-top: 100px;
}

.row{
  margin-bottom: 20px;
}
textarea{
  margin-left: 20px !important;
}
.widget-border {
  border: 1px solid #333;
  margin: 1px;
}

/*#header {
   text-align: center;
   font-size: 30px;
   font-family: sans-serif;
   color: darkgreen;
}*/
.panel-heading {
   text-align: center;
   font-size: 30px;
   font-family: 'Bree Serif', serif;
   /*color: darkgreen;*/
}
.hr-prop {
  /*margin-left: -15px;
  margin-right: -15px;*/
  height: 0.5px;
  background-color: #A4A4A4;
}


/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

}

/* Large desktop */
@media (min-width: 1200px) {

}
