<!DOCTYPE html>
<html>
   <head>
      <% include ../partials/head %>
   </head>
   <body class= <%= theme %>>
      <div class="container">
         <header>
            <%include ../partials/header %>
         </header>

         <div id="wrapper">
          <div class="overlay"></div>
         <!-- tabbable -->
         <div id="page-content-wrapper">
          <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas"> <span class="hamb-top"></span> <span class="hamb-middle"></span> <span class="hamb-bottom"></span> </button>
          <div class="container">
          <div class="row tabbable wrap" id="dashboards">
             <ul class="nav nav-tabs tabSpaceCustom">
               <% dashboards.forEach(function(dashboard) { %>
                  <li><a href="#<%= dashboard.tabId %>" data-toggle="tab"><%= dashboard.tabTitle %></a></li>
               <% }); %>
             </ul>

             <div class="tab-content" id="dashboardsContent">
                <% dashboards.forEach(function(dashboard) { %>
                <div class="tab-pane" id="<%= dashboard.tabId %>">
                </div>
                <% }); %>
             </div>
        </div>
      </div>
    </div>
      <% include ../partials/menu %>
      <% include ../partials/commentsDialog %>

      <footer>
         <%include ../partials/footer %>
      </footer>
      <%include ../partials/scripts %>
    </div>
   </body>
</html>
