<!DOCTYPE html>
<html>
   <head>
      <% include ../partials/head %>
   </head>
   <body>
      <div class="container">
         <header>
            <%include ../partials/header %>
         </header>

         <!-- tabbable -->
          <div class="row tabbable wrap" id="dashboards">
             <ul class="nav nav-tabs tabSpaceCustom">
               <% dashboards.forEach(function(dashboard) { %>
                  <li><a href="#<%= dashboard.tabID %>" data-toggle="tab"><%= dashboard.pageTitle %></a></li>
               <% }); %>
             </ul>

             <div class="tab-content" id="dashboardsContent">
                <% dashboards.forEach(function(dashboard) { %>
                <div class="tab-pane" id="<%= dashboard.tabID %>">
                </div>
                <% }); %>
             </div>
          </div>
      </div>

      <% include ../partials/commentsDialog %>

      <footer>
         <%include ../partials/footer %>
      </footer>
      <%include ../partials/scripts %>
   </body>
</html>
